{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamentos</h2> <!--título-->
    <a href="evento/"> <!--link-->
        <button type="button">Novo Evento</button>
    </a>
<!--Chaves e porcentagem.... consigo usar comandos do python...-->
    <ul style="font-size: 18px"> <!--ul -> lista desordenada-->  <!--criando tópicos-->
        {% for evento in eventos %}
            <li> <!--lista-->
                <div style={% if evento.get_evento_atrasado %}
                              "color:red"
                            {% endif %}>
                    {{ evento.titulo }} - {{ evento.get_data_evento }}
                    ( <a href="evento/?id={{ evento.id }}"> Editar</a>
                    / <a href="evento/delete/{{ evento.id }}"> Excluir</a> )
                </div> <!--<div> =>elemento de divisão-->
            </li>
        {% endfor %}
    </ul>>
{% endblock %}
